#pane {
    -fx-background-image: url("icons/wtf.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 980 630;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}