#pane {
    -fx-background-image: url("icons/wtf.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 980 630;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

.playerName1 {
    -fx-stroke-width: 15;
    -fx-stroke: green;

}

#leftVbox {
    -fx-border-color: #005804;
    -fx-border-insets: 5;
    -fx-border-width: 3;
    -fx-border-radius: 5;
}

#rightVbox {
    -fx-border-color: #005804;
    -fx-border-insets: 5;
    -fx-border-width: 3;
    -fx-border-radius: 5;
}


#board {
    -fx-background-color: #a5d6a7;
    -fx-border-color: #005804;
    -fx-border-insets: 5;
    -fx-border-width: 3;
    -fx-border-radius: 10;
    -fx-spacing: 2;
    -fx-background-radius: 10;
}

#playerIcon1 {
    -fx-image: url("icons/soccer-player.png");
}

#playerIcon2 {
    -fx-image: url("icons/soccer-player.png");
}
#topHBox {
    -fx-background-color: green;
    -fx-background-radius: 3;
}

#leftVbox{
    -fx-background-color: #94af76;
    -fx-background-radius: 10;
}
#rightVbox{
    -fx-background-color: #94af76;
    -fx-background-radius: 10;
}
